// Here you can add other styles
body {
    background: #f1f2f7;
}
.sidebar {
    color:black;
    background: white;

    .sidebar-minimizer {
        &:hover {
            background: rgb(32 168 216)  !important;
        }
    }
    .nav-title {
        color: #505963 !important;
    }
    .nav-link {
        color:black !important;
        &.active {
            color: white !important;
            background: #20a8d8 !important;
            .nav-icon {
                color: white !important;
            }
        }
        &:active {
            color: #3a4248;
            background: #fff;
        }
        &:hover {
            color: #fff !important;
            background: #3a4248;
        }
    }
}

@include media-breakpoint-up($breakpoint-mobile-up)
{
    .header-fixed {
        .app-header {
          box-shadow: 0 2px 5px rgb(0 0 0 / 25%);
        }
    }
    .sidebar-minimized 
    {
        .sidebar {
            .nav > .nav-dropdown {
                > .nav-dropdown-items {
                  background: #f4f4f4 !important;
                }
            }
        }
    } 
}

.card {
    border: none !important;
    box-shadow: 0px 0px 2px 2px #c8ced3;
}