<!--<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-info">
                <div class="card-body pb-0">
                    <div class="text-value pb-2">Front End</div>
                    <span>HTML</span>
                    <span>JavaScript</span>
                    <span>CSS</span>
                    <span>SASS</span>
                    <span>TypeScript</span>
                    <span>React</span>
                    <span>Angular</span>
                </div>
            </div>
       </div>
       <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-primary">
                <div class="card-body pb-0">
                    <div class="text-value pb-2">Back End</div>
                    <span>C#</span>
                    <span>ADO.NET</span>
                    <span>ASP.NET MVC</span>
                    <span>ASP.NET CORE</span>
                    <span>NodeJS</span>
                    <span>Python</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card text-dark bg-light">
                <div class="card-body pb-0">
                    <div class="text-value pb-2">MiddleWare</div>
                    <span>WebAPI</span>
                    <span>ExpressJS</span>
                    <span>Messsaging Queues</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-danger">
                <div class="card-body pb-0">
                    <div class="text-value pb-2">Databases</div>
                    <span>SQL Server</span>
                    <span>MongoDB</span>
                </div>
            </div>
       </div>
       <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-secondary">
                <div class="card-body pb-0">
                    <div class="text-value pb-2">Cloud Services</div>
                    <span>AWS</span>
                    <span>AZURE</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="card text-white bg-success">
                <div class="card-body pb-0">
                    <div class="text-value pb-2">Miscellanous</div>
                    <span>NextJS</span>
                    <span>GraphQL</span>
                    <span>TensorFlow</span>
                </div>
            </div>
        </div>
    </div>
</div>-->
<router-outlet></router-outlet>
